{% extends 'base.html' %}
{% block content %}
{% with errors = get_flashed_messages() %}
    {% if errors %}
        {% for error_message in errors %}
        <div class="alert alert-danger">{{error_message}}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="d-flex flex-column  align-items-start">
    <div class="container d-flex align-items-center justify-content-between mb-5">
        <h1 class="text-light">{{ first_name }}'s Upcoming Trips</h1>
        <a href="/logout" class="btn btn-warning">Logout</a>
    </div>
    
    <table class="table table-striped text-light">
        <thead>
            <tr>
                <th>Rented</th>
                <th>Check-in Date</th>
                <th>Check-out Date</th>
                <th>Booked By</th>
                <th>Number Of Guests</th>
                <th>Actions</th>
                <!-- Add more table headers for additional booking details -->
            </tr>
        </thead>
        <tbody class="text-light">
            {% if bookings is none or bookings|length == 0 %}
            <div class="container text-light">
                <h2>You have No Upcoming Trips</h2>
            </div>
            {% else %}
                {% for booking in bookings %}
                <tr {% if booking.expired %}class="expired-booking"{% endif %}>
                    <td class="text-light">{{ booking.listing.title }}</td>
                    <td class="text-light">{{ booking.check_in.strftime('%m-%d-%Y') }}</td>
                    <td class="text-light">{{ booking.check_out.strftime('%m-%d-%Y') }}</td>
                    <td class="text-light">{{ booking.user.first_name }} {{booking.user.last_name}}</td>
                    <td class="text-light">{{ booking.number_of_guests }}</td>
                    <td>
                        <a href="/booking/delete_my_booking/{{booking.id}}" class="btn btn-danger">Remove Booking</a>
                        <a href="/view_listing/{{booking.listing_id}}" class="btn btn-primary">View Details</a>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <div class="container d-flex justify-content-between p-5">
        <a href="/all_rentals" class="btn btn-primary">Back To All Rentals</a>    
        <a href="/booking/show_who_booked" class="btn btn-success">View All My Renters</a>
        <a href="/show_my_listings/{{session['user_id']}}" class="btn btn-info">Manage My Listings</a>   
    </div>
</div>

{% endblock %}
